<!DOCTYPE html>
<html lang="ar">

    <head>
        <meta name="viewport" content="width=device-width , initial-scale=1">
        <title class="text-center">
            Eror
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="text-center">Error</h1>
        <div class="text-center">You will be not registred!</div>
        <p class="form-text text-center">Not supported inputs</p>
    </body>