<!Doctype html>
<html>
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            Table for test
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="text-center fw-bold">
            The Note of Students
        </h1>
        <table class="table table-bordered align-middle text-center">
            <thead class="table-light">
                <tr class="fs-2">
                    <th>Name</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ali</td>
                    <td>19</td>
                </tr>
                <tr>
                    <td>Ilyes</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Yousef</td>
                    <td>17</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <form class="text-center container px-4" method="Get" action="https://www.google.com/search">
                <div class="row">
                    <div class="col-sm-4 p-3">
                    <input class="form-control" name="q" autocomplete="off" placeholder="Ask google" autofocus type="text">
                    </div>
                    <div class="col-sm-2 p-3">
                    <input class="form-control" type="submit">
                    </div>
                </div>
        </div>
        </form>



    </body>








</html>